{% extends 'main/layout.html' %}

{% block title %}Bookings{% endblock %}

{% block content%}
    <div class="features">
        <h1>Bookings</h1>
        {% if news %}
            {% for el in news %}
                <div class="alert alert-warning">
                    <h3>{{  el.movie }}</h3>
                    <p>{{ el.user_id }}</p>
                    <p>{{  el.booking_date }}</p>
                    <p>{{ el.seats }}</p>
                </div>
            {% endfor %}
        {% else %}
            <p>There is no news</p>
        {% endif %}

        {# Comment #}
    </div>
{% endblock %}